.exercise-page {
  background-color: rgb(226, 224, 224);
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: -10px;
}

.exercise-container {
  text-align: center;
  width: 100%;
}

.not-logged-in {
  font-family: Arial, sans-serif;
  font-size: 100px;
  margin: auto;
  text-align: center;
}

.exercise-page .exercise-heading {
  align-items: center;
  font-size: 50px;
}

.exercise-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;
}

.exercise-grid .exercise {
  background: #4caf4f97;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  width: 10%;
  box-shadow: 10px 5px 5px #38873b66;
}

.exercise-page .exercise-container button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.exercise-page button:hover {
  background-color: #45a049;
}
