.login-page {
  background-color: rgb(226, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -10px;
}

.login-page .login-container {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page .login-container h2 {
  text-align: center;
}

.login-page .login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-page .login-container input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.login-page .login-container .error,
input.error::placeholder {
  color: red;
  opacity: 0.7;
}

.login-page button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-page button:hover {
  background-color: #45a049;
}
